*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border:none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(116, 116, 115, 0.5);
    border-radius: 10px;
    height:40px;
    transition: .3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(24, 23, 23);
  }
body{
    background: rgb(58, 55, 55);
}
.header{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    font-family: Montserrat;
    color:white;
    vertical-align: middle;

}
.google{
    font-size: 35px;
    font-weight: 600;
}
.username{
    
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 50%;
}
.snapshot{
    padding-top: 10px;
    text-align: center;
}
.snapshot p{
    font-size: 10px;
}
.container{
    margin-bottom: 25px;
    position: relative;
    width: 90%;
    height: 90vh;
   display: flex;
   flex-wrap: wrap;
   
   justify-content: flex-start;
   overflow-y: scroll;
   
    background-color: rgb(36, 32, 32);
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0 0 25px rgb(24, 22, 22);   
    border-radius: 20px;
    /* align-content: space-evenly; */
    
}
.news{
    position: sticky;
    background-image: url(../images/wendy.png);
    background-size: cover;
    width: 29%;
    height: 45%;
    background-color: rgb(36, 32, 32);
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(24, 22, 22);   
    border-radius: 20px;
}
.newsContent{
    position: absolute;
    padding: 15px;
    padding-top: 10px;
    top:100%;
    transform: translateY(-100%);
   
   
    width: 100%;
    height: 45%;
    overflow: hidden;
    background-color: rgb(88, 85, 85);   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .2s ;
    color: white;
    font-family: Montserrat;
}
.keywords{
    width: 100%;
    padding: 15px 0;
    margin: 20px 0;
    display: flex;
   
    overflow-x: scroll;
}
.keywords .key{
    padding:15px 20px;
    position: relative;
    text-align: center;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 30px;
    border:3px solid gray;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.302);

}
.newsContent:hover{
    height: 100%;
   
    
    background-color: rgba(49, 46, 46, 0.637);
    border-radius: 20px;
}

.title{
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.content{
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(177, 169, 169);
    font-size: 60%;
}
.icons{
    position: absolute;
    width: 40%;
    left: 100%;
    transform: translateX(-100%);
    font-size: 100%;
    margin-top: 20px;
   
    padding-right: 15px;
    text-align: right;
}
.icons i{
margin-right: 10px;
}
.newsCompany{
    position:absolute;
    width: 60%;
    font-size: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    
}
.largeHeart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    font-size: 135px;
    color: red;
    text-shadow: 0 0 15px rgba(7, 7, 7, 0.706);
    font-size: 0px;
}
.image{
  
    margin-right: 10px;
    width: 20px ;
    height: 20px;
    background-image: url(../images/wendy.png);
    background-size: cover;
}
.name{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgb(36, 33, 33);
    display: flex;
    z-index: 500;
    transition:opacity 1s,
                z-index 1s;
    align-items: center;
    justify-content: center;
}
.loader div{
    position: absolute;
    border: 3px solid rgba(187, 60, 60, 0);
    border-radius: 50%;
    
    
}
.loader div:nth-child(1){
    height: 50px;
    width: 50px;
    border-top: 3px solid green;
    animation: inrotate 3s infinite cubic-bezier(0,0,0,0);
}
.loader div:nth-child(2){
   /* position: relative; */
    height: 50px;
    width: 50px;
    border-bottom: 3px  rgb(105, 71, 255);
    border-style: inset;
    transform: rotate(-30deg);
    animation: inrotate 4s infinite cubic-bezier(0,0,0,0);
    
}
.loader div:nth-child(3){
  
    height: 70px;
    width: 70px;
    border-left: 3px  tomato;
    border-style: inset;
    transform: rotate(-30deg);
    animation: rotate 7s infinite cubic-bezier(0,0,0,0);
    
}
.loader div:nth-child(4){
  
    height: 70px;
    width: 70px;
    border-right: 3px  tomato;
    border-style: inset;
    transform: rotate(-30deg);
    animation: rotate 4s infinite cubic-bezier(0,0,0,0);
}
.loader div:nth-child(5){
    height: 30px;
    width: 30px;
    border-top: 3px solid green;
    animation: rotate 3s infinite cubic-bezier(0,0,0,0);
}
.loader div:nth-child(6){
   /* position: relative; */
    height: 30px;
    width: 30px;
    border-bottom: 3px  rgb(105, 71, 255);
    border-style: inset;
    transform: rotate(-30deg);
    animation: rotate 2s infinite cubic-bezier(0,0,0,0);
    
}
.search{
   
    
    margin-top: 10px;
    width: 0%;
    
    background: none;
    border: none;
    border-bottom:3px solid rgb(32, 31, 31);
    color: gray;
}
.search:focus{
    outline: none;
    /* border-bottom:3px solid black; */
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);

    }
    
    to{
        transform: rotate(-360deg);
        filter:hue-rotate(360deg);
    }
}
@keyframes inrotate{
    from{
        transform: rotate(0deg);
        filter:hue-rotate(0deg);

    }
    
    to{
        transform: rotate(360deg);
        filter:hue-rotate(360deg);
    }
}
@keyframes blop{
   from{
        font-size: 10%;
    }
    to{
        font-size: 100%;
    }
}

@keyframes plop{
    from{
         font-size: 10%;
     }
     to{
         font-size: 100%;
     }
 }
 @keyframes heart{
     from{
         opacity: 1;
         font-size: 10px;
     }
     
     50%{
         font-size: 130px;
     }
     to{
         opacity: 0;
         font-size: 0px;
     }
 }
 @keyframes die{
     from{
         color:gray;
         font-size: 0;
         opacity: 1;
     }
     
     40%{
         color : gray

        }
    30%{
         
            font-size: 130px;
   
        }

    to{
        opacity: 0;
        font-size: 0px;
    }
 }
 @media only screen and (max-width:526px){
    .container{
      height: auto;

    }
    .news{
        width: 100%;
        height: 300px;
    }
 }